/*
Icomoon Custom Font
=================================*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-7ddwr4');
	src:url('../fonts/icomoon.eot?#iefix-7ddwr4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-7ddwr4') format('woff'),
		url('../fonts/icomoon.ttf?-7ddwr4') format('truetype'),
		url('../fonts/icomoon.svg?-7ddwr4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	//Main Features Styling
	#main-features & {
		margin: 10px 5px 0 0;
		font-size: 2.3em;
		float: left;
	}
}

.icon-attention:before {
	content: "\e600";
	color: white;
	font-size: 3.3em;
	@media screen and (max-width: 40em) {
		font-size: 2.7em;
	}
}
.icon-bottle:before {
	content: "\e601";
}
.icon-many-bottles:before {
	content: "\e602";
}
.icon-three-bottles:before {
	content: "\e603";
}
.icon-electricity:before {
	content: "\e604";
}
.icon-goods:before {
	content: "\e606";
}
.icon-big-house:before {
	content: "\e607";
}
.icon-house:before {
	content: "\e608";
}
.icon-lilly:before {
	content: "\e609";
}
.icon-man:before {
	content: "\e60a";
}
.icon-money:before {
	content: "\e60c";
}
.icon-prize:before {
	content: "\e60d";
}
.icon-temple:before {
	content: "\e60e";
}
.icon-thermometer:before {
	content: "\e60f";
}
.icon-thermometers:before {
	content: "\e610";
}
.icon-switch:before {
	content: "\e605";
}
/*
Icomoon Font Styles
=================================*/
.icon-many-bottles,
.icon-thermometers,
.icon-big-house,
.icon-switch,
.icon-goods {
	margin-left: 20px;
	font-size: 4em;
}
.icon-big-house,
.icon-switch,
.icon-goods {
	position: relative;
	@media screen and (max-width: 40em) {
		position: initial;
	}
}
.icon-big-house {
	left: 5px;
}
.icon-switch {
	top: 15px;
}
.icon-goods {
	top: 12px;
}
.icon-three-bottles,
.icon-thermometer,
.icon-house,
.icon-electricity,
.icon-bottle {
	font-size: 4em;
}
/*
SVG
=================================*/
.icon-guarantee {
	@include svg-icon(1.5em, 1.5em, $icon-guarantee);
	position: relative;
	top: -12px;
	width: 40px;
	background-size: auto;
}
.icon-time:before {
	@include svg-icon(7em, 7em, $icon-time);
}
.icon-ronde {
	@include svg-icon(7em, 7em, $icon-ronde);
}
.icon-ovale {
	@include svg-icon(7em, 7em, $icon-ovale);
}
.icon-year {
	@include svg-icon(5em, 5em, $icon-year);
	height: 7em;
}
#product-2-description .icon-ronde,
#product-4-description .icon-ovale {
	font-size: 1.6em;
}