/* 
Placeholder Color
=================================*/
@mixin input-placeholder($color) {
	::-webkit-input-placeholder {
		color: $color;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color;
	}
	::-moz-placeholder {  /* Firefox 19+ */
	color: $color;
	}
	:-ms-input-placeholder {  
	color: $color;
	} 
}
/* 
SVG
=================================*/
@mixin svg-icon($height, $width, $background) {
	content: "";
	margin: -10px -10px 0;
	height: $height;
	width: $width;
	display: block;
	background: $background 50% 0 no-repeat;
	background-size: contain;
	float: left;
}
@mixin svg-logo($background) {
	content: "";
	margin-top: 25px;
	height: 100px;
	width: 100%;
	display: block;
	background: $background 50% 0 no-repeat;
	background-size: contain;
}
/* 
Slider
=================================*/
@mixin slider-image($img) {
	margin-bottom: 20px;
	height: 500px;
	width: 100%;
	background: image-url($img) 50% 0 no-repeat;
	background-size: contain;
	@media screen and (max-width: 40em) {
		height: 350px;
		margin-bottom: 0;
	}
}
/* 
Footer Images
=================================*/
@mixin footer-image($height, $img) {
	height: $height;
	width: 100%;
	background: image-url($img) 50% 0 no-repeat;
	background-size: contain;
}