/* 
General
=================================*/

/* Headers */
#{headings()} {
	color: $body-font-color;
	font-family: $body-secondary-font-family;
}
h2 {
	padding-bottom: 0;
}
#unique-features,
#products,
#advantages,
#installation {
	h3 {
		color: $body-secondary-font-color;
	}
}

/* Images */
img {
	margin-bottom: 30px;
}

/* Attention class */
.red,
.attention {
	color: $body-secondary-font-color;
}
.attention {
	width: 90%;
	position: absolute;
	height: 12em;
	margin-top: 4em;
	@media screen and (max-width: 40em) {
		position: initial;
		height: auto;
		margin-top: 0;
	}
	i {
		position: absolute;
		@media screen and (max-width: 40em) {
			position: initial;
		}
		top: 20px;
		@media screen and (max-width: 64.063em) {
			left: 20px;
		}
	}
	p {
		font-size: 1.5em;
		line-height: 1.2;
		@media screen and (max-width: 40em) {
			font-size: 1.1em;
		}
	}
}

/* Padded container */
.padded-container {
	padding: 80px 0;
	@media screen and (max-width: 40em) {
		padding: 50px 0;
	}
}

/* Horizontal lines */
hr {
	height: 2px;
	width: 75%;
	color: $body-secondary-font-color;
	background: $body-secondary-font-color;
	border: none;
}
.top-line {
	text-align: left;
	margin: 0 auto 10px 0;
}
.underline {
	text-align: right;
	margin: 0 0 50px auto;
	@media screen and (max-width: 40em) {
		margin-bottom: 30px;
	}
}

/* Forms */
.form-wrapper {
	padding: 20px;
	background: image-url('form-bg.jpg') 50% 0 no-repeat #632109;
	background-size: cover;
	border-radius: 15px;
}
form {
	input[type="text"],
	textarea {
		opacity: 0.9;
	}
}
.button {
	background: linear-gradient(to bottom, #FF0000, $body-secondary-font-color);
	&:hover {
		background: linear-gradient(to bottom, shade(#FF0000, 20%), shade($body-secondary-font-color, 20%));
	}
	span {
		margin-bottom: 0;
		font-size: 1.5em;
		text-transform: uppercase;
	}
}
form .address-input {
	display: none;
}



/* 
Main Image Section
=================================*/

#main-image {
	height: 705px;
	width: 100%;
	margin-top: -75px;
	background: image-url('main-image.jpg') 50% 50% no-repeat #222;
	background-size: cover;
	@media screen and (max-width: 40em) {
		height: 820px;
	}
	.row:first-of-type {
		padding-top: 100px;
	}
	form {
		input[type="text"],
		textarea {
			color: $body-font-color;
			background: #000;
			border: none;
			opacity: 0.8;
		}
		@include input-placeholder($body-font-color);
	}
}
#logo {
	width: 400px;
	height: 600px;
	padding-left: 10px;
	position: absolute;
	top: -110px;
	left: 20%;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0.2);
	background-size: cover;
	@media screen and (max-width: 40em) {
		margin-top: -40px;
		margin-bottom: -30px;
		width: 100%;
		height: 300px;
		position: initial;
	}
	h1 {
		width: 350px;
		height: 500px;
		position: relative;
		background: image-url("main-logo.png") 50% 50% no-repeat;
		background-size: 100%;
		text-indent: -9999px;
		@media screen and (max-width: 40em) {
			width: 300px;
			height: 65%;
			background-size: 70%;
		}
	}
	p {
		line-height: 0.2em;
		@media screen and (max-width: 40em) {
			line-height: 0.5em;
		}
	}
	p:first-of-type {
		font-size: 1.4em;
		@media screen and (max-width: 40em) {
			font-size: initial;
			line-height: initial;
		}
	}
	p:nth-of-type(2) {
		font-size: 2.4em;
		@media screen and (max-width: 40em) {
			font-size: initial;
		}
	}
	p:last-of-type {
		font-size: 0.8em;
		@media screen and (max-width: 40em) {
			font-size: initial;
		}
	}
}



/* 
Main Features Section
=================================*/

#main-features {
	margin-top: 30px;
	padding-top: 20px;
	background: image-url('main-features-bg.jpg') 50% 0 no-repeat #111;
	@media screen and (max-width: 40em) {
		background: none;
	}
	background-size: cover;
	h4 {
		color: $body-font-color;
		font-size: 1.1em;
		text-transform: uppercase;
	}
}



/* 
Unique Features Section
=================================*/

#unique-features .feature-description p {
	margin-bottom: 50px;
	@media screen and (max-width: 40em) {
		margin-bottom: 30px;
	}
}



/* 
Products Section
=================================*/

#products {
	h3 {
		text-transform: uppercase;
	}
	.specification {
		color: #bbb;
		font-family: $body-secondary-font-family;
		p {
			font-size: 1.1em;
			margin-bottom: 0.5em;
		}
		span {
			text-transform: uppercase;
		}
	}
	img {
		height: auto;
		width: 70%;
		border: 10px solid $body-secondary-font-color;
		border-radius: 100%;
		@media screen and (min-width: 40em) {
			width: 100%;
		}
		@media screen and (min-width: 64.063em) {
			position: absolute;
		}
	}
	@media screen and (max-width: 64.063em) {
		.row {
			margin-bottom: 30px;
		}
	}
}
#product-img-1 {
	max-width: 350px;
	top: 40px;
	z-index: 30;
	box-shadow: -3px -3px 2px white;
}
#product-img-2 {
	max-width: 400px;
	top: -10px;
	z-index: 20;
	box-shadow: 3px -3px 2px white;
}
#product-img-3 {
	max-width: 450px;
	top: -80px;
	z-index: 10;
	box-shadow: 3px -3px 2px white;
}
#product-img-4 {
	max-width: 500px;
	top: -100px;
	box-shadow: 3px 3px 2px white;
}
#product-2-description,
#product-4-description {
	i,
	h3,
	p {
		padding-left: 30px;
		@media screen and (max-width: 40em) {
			padding-left: 0;
		}
	}
	.icon-ronde,
	.icon-ovale {
		@media screen and (min-width: 64.063em) {
			float: right;
		}
	}
}



/* 
Advantages Section
=================================*/

#comparison {
	margin: 0 auto 40px;
	width: 95%;
	th span {
		color: $body-secondary-font-color;
		font-family: $body-secondary-font-family;
		font-size: 1.6em;
		font-weight: lighter;
		text-transform: uppercase;
		@media screen and (max-width: 40em) {
			font-size: 1.4em;
			text-transform: none;
		}
	}
	th p,
	td {
		font-size: 1.3em;
		@media screen and (max-width: 40em) {
			font-size: initial;
		}
	}
	td {
		line-height: 1.2em;
	}
	.pros,
	.cons {
		color: #222;
	}
	.pros {
		color: #fff;
		border: 1px solid #ccc;
		@media screen and (max-width: 40em) {
			border: none;
		}
		border-radius: 15px;
		i {
			color: $body-secondary-font-color;
		}
	}
	.cons {
		padding-left: rem-calc(10);
		color: #777;
		border-radius: 15px;
	}
}



/* 
Installation Section
=================================*/

#installation {
	p {
		font-size: 1.6em;
	}
	li {
		margin-bottom: 1em;
	}
}

/* Slider */
#slider-img-1 {
	@include slider-image('slider1.jpg');
}
#slider-img-2 {
	@include slider-image('slider2.jpg');
}
#slider-img-3 {
	@include slider-image('slider3.jpg');
}
#slider-img-4 {
	@include slider-image('slider4.jpg');
}
#slider-img-5 {
	@include slider-image('slider5.jpg');
}
#slider-img-6 {
	@include slider-image('slider6.jpg');
}
#slider-img-7 {
	@include slider-image('slider7.jpg');
}
#slider-img-8 {
	@include slider-image('slider8.jpg');
}



/* 
Footer
=================================*/

footer .columns {
	margin-bottom: 10px;
}
#logo-img-1 {
	@include footer-image(100px, 'logos/liga-somelie.png');
}
#logo-img-2 {
	@include footer-image(100px, 'logos/marex.png');
}
#logo-img-3 {
	@include footer-image(100px, 'logos/vinoteka.png');
}
#logo-img-4 {
	@include svg-logo($logo-fort);
}
#logo-img-5 {
	@include footer-image(100px, 'logos/vinoterra.png');
}
#logo-img-6 {
	@include footer-image(100px, 'logos/narzannik.png');
}